name: build-and-test
on:
  schedule:
    - cron: '0 0 * * *'

env:
  DOTNET_VERSION: 5.0.401
jobs:
  build-and-test:
    name: build-and-test
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal